<a href="{{ path('post_send_email', {id: object.id})}}" class="btn btn-sm btn-default" title="Відправити листа">
    <i class="fas fa-solid fa-envelope" aria-hidden="true"></i>
    Відправити листа
</a>