<a href="{{ path('admin_app_faq_faqcategory_faq_faqquestion_list', {id: object.id})}}" class="btn btn-sm btn-default" title="Запитання та відповіді">
        <i class="fas fa-question" aria-hidden="true"></i>
        Запитання та відповіді
</a>