{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h2>Заказ успішно створено!</h2>
            <a href="{{ path('all.products') }}">Повернутись до списку товарів</a>
        </div>
    </div>
</div>

{% endblock %}